* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  scroll-behavior: smooth;
}

.header {
  top: 5px;
  position: fixed;
  border-style: inset;
  width: 100%;
  z-index: 1000;
  box-shadow: rgba(255,0,0, 0.6) 0px 0px 20px;
  border-bottom: red solid 1px;
  border-top: gray solid 1px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header .logo {
  display: block;
  float: left;
  font-weight: 400;
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.main {
  display: flex;
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(25, 25, 25);
}

.banner {
  width: 100%;
  box-shadow: rgba(255,0,0, 0.6) 0px 0px 30px;
  height: auto;
  background-color: rgb(45,45,45);
  font-weight: 600;
  text-align: center;
  color: white;
  border-bottom: gray solid 1px;
  border-top: red solid 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 8vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

.banner1 {
  width: 100%;
  height: auto;
  box-shadow: rgba(255,0,0, 0.6) 0px 0px 30px;
  background-color: rgb(45,45,45);
  border-bottom: gray solid 1px;
  border-top: red solid 1px;
  border-left: none;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 8vw;
  padding-top: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}

.github1 {
  color: white;
}

.linkedin1 {
  color: white;
}

.banner2 {
  width: 100%;
  height: auto;
  background-color: rgb(45,45,45);
  text-align: center;
  border-top: 1px solid red;
  box-shadow: rgba(255,0,0, 0.6) 0px 0px 30px;
  border-bottom: 1px solid gray;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 8vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

.projects {
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: rgb(35,35,35);
  box-sizing: border-box;
  padding-bottom: 1vw;
  padding-top: 0vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutme {
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: rgb(35,35,35);
  box-sizing: border-box;
  padding-bottom: 1vw;
  background-size: cover;
  background-repeat: no-repeat;
}


.img1 {
  width: 90vw;
  height: auto;
  padding: 0vw;
  margin: 5vw;
  border-radius: 20px;
  border: solid 1px gray;
  box-shadow: rgba(255,255,255, 0.6) 0px 0px 6px;
}

.aboutmetext {
  background-color:rgb(45,45,45);
  box-shadow: rgba(255,255,255, 0.6) 0px 0px 6px;
  border: 1px solid gray;
  color: white;
  width: 90vw;
  height: auto;
  margin: 5vw;
  margin-top: 0;
  box-sizing: border-box;
  padding: 3vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5vw;
  border-radius: 20px;
}

.img2 {
  width: 90vw;
  height: auto;
  padding: 0vw;
  margin: 4.5vw;
  border-radius: 20px;
  opacity: 0.95;
  box-shadow: rgba(255,255,255,0.6) 0px 0px 6px;
  border: 1px solid gray;
}

.sudokutext{
  background-color:rgb(45,45,45);
  color: white;
  width: 90vw;
  height: auto;
  box-shadow: rgba(255,255,255, 0.6) 0px 0px 6px;
  border: 1px solid gray;
  margin: 5vw;
  margin-top: 0;
  box-sizing: border-box;
  padding: 3vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5vw;
  border-radius: 20px;
}

.sudokuheader {
  text-align: center;
  font-weight: 400;
}

.sudokulink {
  text-decoration: none;
  color: white;
  text-decoration: underline;
  padding-left: 3vw;
}

.contact {
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: rgb(35, 35, 35);
  background-size: cover;
  box-sizing: border-box;
  padding-bottom: 1vw;
  padding-top: 5vw;
}

.contacttext {
  background-color: rgb(45,45,45);
  color: white;
  width: 90vw;
  height: auto;
  margin: 5vw;
  margin-top: 0;
  box-sizing: border-box;
  padding: 3vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5vw;
  border-radius: 20px;
  text-align: center;
  border: 1px solid gray;
  box-shadow: rgba(255,255,255, 0.6) 0px 0px 6px;
}

.gallerylol {
  height: auto;
  width: 100%;
  background-color: rgb(45,45,45);
  margin-top: 108px;
  margin-bottom: 58px;
  box-shadow: rgba(128,128,128, 0.6) 0px 0px 20px;
  flex-direction: row;
  display: flex;
  overflow-x: scroll;
  border-top: 1px solid gray;
  border-bottom: solid 1px gray;
  overflow-y: hidden;
}

.gallery1 {
  height: 88%;
  width: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vh;
  margin-right: 1vh;
  box-shadow: rgba(128,128,128) 0px 0px 7px;
  border: 1px solid gray;
  background-image: url(/img/gallery1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: beige;
  border-radius: 20px;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0px;
}

.header .menu {
  background-color: rgba(0, 0, 0, 0);
}

.header .menu a {
  color: white;
}
.logo {
  color: white;
}
.header{
  background-color: rgba(45,45,45);
}
.header li a {
  border-right: none;
}

@media (min-width: 42em) {
  .header li {
    float: left;
  }
  .header{
    background-color: rgba(45,45,45,1);
    top: 0px;
  }
  .header li a {
    padding: 20px 30px;
    border: none;
    color: white;
  }
  .logo {
    color: white;
  }
  .header li a:hover {
    background-color: rgba(35,35,35,1);
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .main {
    width: 100%;
    height: 60vh;
    background-color: rgb(35, 35, 35);
  }
 
  .banner {
    width: 100%;
    height: auto;
    font-size: 6vw;
    background-color: rgb(45,45,45);
    border-bottom: gray solid 1px;
    border-top: red solid 1px;
    box-shadow: rgba(255,0,0, 0.6) 0px 0px 30px;
  }

  .banner1 {
    font-size: 6vw;
    border-bottom: gray solid 1px;
    border-top: red solid 1px;
    box-shadow: rgba(255,0,0, 0.6) 0px 0px 30px;
  }

  .img1 {
    width: 35vw;
    height: 35vw;
    padding: 0vw;
    margin: 3vw;
    border-radius: 30px;
    box-shadow: rgba(255,255,255, 0.6) 0px 0px 10px;
  }

  .aboutme {
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: rgb(35, 35, 35);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .aboutmetext {
    width: 100%;
    height: 35vw;
    font-size: 2.65vw;
    margin: 3vw;
    padding: 1.7vw;
    margin-left: 0;
    border-radius: 30px;
    box-shadow: rgba(255,255,255, 0.6) 0px 0px 10px;
  }

  .img2 {
    width: 35vw;
    height: 40vw;
    padding: 0vw;
    margin: 3vw;
    border-radius: 30px;
    box-shadow: rgba(255,255,255, 0.6) 0px 0px 10px;
  }

  .projects {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 1vw;
    padding-top: 0vw;
    background-size: cover;
  }

  .sudokutext {
    width: 100%;
    height: 40vw;
    font-size: 2.65vw;
    margin: 3vw;
    padding: 1.7vw;
    margin-left: 0;
    border-radius: 30px;
    box-shadow: rgba(255,255,255, 0.6) 0px 0px 10px;
  }

  .banner2 {
    font-size: 6vw;
    border-bottom: gray solid 1px;
    border-top: red solid 1px;
    box-shadow: rgba(255,0,0, 0.6) 0px 0px 30px;
  }
  
  .sudokulink {
    text-decoration: none;
    color: white;
    text-decoration: underline;
    padding-left: 3vw;
  }

  .contact {
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 3vw;
    padding-top: 3vw;
  }
  
  .contacttext {
    background-color:rgb(45,45,45);
    color: white;
    width: 94%;
    height: auto;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 1.7vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.65vw;
    border-radius: 30px;
    box-shadow: rgba(255,255,255, 0.6) 0px 0px 10px;
    text-align: center;
  }

  .gallerylol {
    height: auto;
    width: 100%;
    background-color: rgb(45,45,45);
    margin-top: 108px;
    margin-bottom: 58px;  
    box-shadow: rgba(128,128,128, 0.6) 0px 0px 10px;
  }
}