* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    scroll-behavior: smooth;
}
.header {
    top: 0px;
    position: fixed;
    border-style: inset;
    width: 100%;
    z-index: 1000;
}

.bgimg {
    display: flex;
    width: 100%;
    height: 240vw;
    background-image: linear-gradient(to bottom right, blue, purple);
    background-size: cover;
    flex-direction: column;
    flex-flow: column;
}

.divider {
    height: 50px;
    background-color: black;
}

.bgimg2 {
    display: flex;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom right, blue, purple);
    background-size: cover;
    flex-direction: column;
    flex-flow: column;
}
.home {
    position: relative;
    height: 70vw;
    width: auto;
    top: 68px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 6vw;
}

.stext {
    font-size: 4vw;
    padding-left: 10px;
    padding-right: 10px;
}
.home1 {
    position: relative;
    height: 70vw;
    width: auto;
    margin-left: 10px;
    top: 78px;
    margin-right: 10px;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    border-radius: 30px;
    font-family: 'Bungee', cursive;
    color: white;
}

.href1 {
    color: white;
}

.apidoc {
    position: relative;
    height: 100%;
    width: auto;
    background-color: rgba(0,0,0,0.4);
    margin: 20px;
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
}

.home2 {
    position: relative;
    height: 70vw;
    width: auto;
    margin-left: 10px;
    top: 88px;
    margin-right: 10px;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    border-radius: 30px;
    font-family: 'Bungee', cursive;
    color: white;
}

.sheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6vw;
    margin-left: 20px;
}

.cheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6vw;
    margin-left: 20px;
}
.mheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6vw;
    margin-left: 20px;
}
.picture1 {
    box-sizing:border-box;
    display: flex;
    margin-top: 79px;
    width:auto;  
    background-color: rgba(0, 0, 0, 0);
    height:90vw;
    opacity: 70%;
    overflow-x: scroll;
    flex-direction: row;
}

.sudoku {
    display: flex;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}
  
.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}
  
.header .logo {
    display: block;
    float: left;
    font-weight: 400;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    text-decoration: none;
}
  
.header .menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
.header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .navicon:before {
    top: 5px;
}
  
.header .menu-icon .navicon:after {
    top: -5px;
}
  
.header .menu-btn {
    display: none;
}
  
.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0px;
}
  
.header .menu {
    background-color: rgba(0, 0, 0, 0);
    font-weight: 600;
}
  
.header .menu a {
    color: white;
}
.logo {
    color: white;
}
.header{
    background-color: rgba(0,0,0,0.5);
}
.header li a {
    border-right: none;
}

@media (min-width: 42em) {
    .header li {
      float: left;
    }
    .header{
      background-color: rgba(0,0,0,0.5);
      top: 0px;
    }
    .header li a {
      padding: 20px 30px;
      border: none;
      color: white;
    }
    .logo {
      color: white;
    }
    .header li a:hover {
      background-color: rgba(0,0,0,0.5);
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .sheader {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3vw;
    }
    .cheader {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3vw;
    }
    .mheader {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3vw;
    }
    .header .menu-icon {
      display: none;
    }
    .hello1 {
        margin-left: 2vw;
        margin-top: -2.5vw;
        font-size: 5vw;
        height: 8vw;
        margin-bottom: 2vw;
    }

    .picture1 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        opacity: 70%;
        margin-top: 103px;
        max-height: 700px;
    }

    .home {
        top: 82px;
        margin-left:10px;
        margin-top: -10px;
        font-size: 3vw;
        width: 33vw;
        height: 50vh;
    }

    .home1 {
        top: 82px;
        margin-top: -10px;
        font-size: 3vw;
        width: 33vw;
        height: 50vh;
    }

    .home2 {
        top: 82px;
        margin-top: -10px;
        font-size: 3vw;
        width: 33vw;
        height: 50vh;
    }

    .bgimg {
        flex-flow: row;
        height: 100vh;
    }
    .stext {
        font-size: 2vw;
        padding-left: 10px;
        padding-right: 10px;
    }
    .bgimg {
        height: 60vh;
    }
    .bgimg2 {
        height: auto;
    }
    .apidoc {
        height: 100%;
    }
}    
  