* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(22,170,126);
}

.body1 {
    display: flex;
    width: auto;
    flex-direction: column;
    height: auto;
    background: rgb(22,170,126);
    background: linear-gradient(180deg, rgba(22,170,126,1) 0%, rgba(43,217,165,1) 35%, rgba(0,212,255,1) 100%);
}

.namebox {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-decoration: none;
  position: fixed;
  z-index: 1000;
    margin-bottom: 0px;
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: white;
    vertical-align: middle;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.name {
    background: -webkit-linear-gradient(rgb(28, 141, 113), rgb(0, 224, 213));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.1vw;
    vertical-align: middle;
    line-height:60px;
}

.mainbox {
  align-self: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 50px;
  margin-top: 150px;
  border-radius: 30px;
  width: auto;
  max-width: 1100px;
  height: auto;
  background-color: white;
  margin-bottom: 150px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.imglol {
  border-radius: 30px;
  width: 100%;
  max-height: 500px;
  object-fit:cover;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.textclass {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4vw;
  margin-top: 0px;
  background: -webkit-linear-gradient(rgb(11, 63, 50), rgb(0, 224, 213));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textclass1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vw;
}

.line {
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  background-color: cyan;
  height: 10px;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.imgbox {
  width: 80px;
  height: 80px;
  margin: 10px;
  cursor: pointer;
  transition: transform .2s;
  background-image: url("github.png");
  background-size: contain;
}

.imgbox1 {
  width: 80px;
  height: 80px;
  margin: 10px;
  cursor: pointer;
  transition: transform .2s;
  background-image: url("linkedin.png");
  background-size: contain;
}

.imgbox2 {
  width: 80px;
  height: 80px;
  margin: 10px;
  cursor: pointer;
  transition: transform .2s;
  background-image: url("email.png");
  background-size: contain;
}

.imgbox:hover {
  transform: scale(1.1);
}

.imgbox1:hover {
  transform: scale(1.1);
}

.imgbox2:hover {
  transform: scale(1.1);
}

.textarea1 {
  opacity: 0;
}

.projectslol {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    margin-top: 150px;
    width: auto;
    height: auto;
    margin-bottom: 150px;
}

.boxlol {
    width: 300px;
    height: 400px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    transition: transform .2s;
    display: flex;
    flex-direction: column;
}

.boxlol:hover {
    transform: scale(1.1);
}

.imglol1 {
    margin: 10px;
    width: 280px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform .2s;
}

.textlol10 {
    background: -webkit-linear-gradient(rgb(11, 63, 50), rgb(0, 224, 213));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
    margin-top: -10px;
    font-size: 40px;
}

.textlol11 {
    margin: 10px;
    margin-top: -10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.divider1 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: auto;
    height: 65px;
    gap: 10px;
}

.button100 {
    text-decoration: none;
    width: 50%;
    height: auto;
    cursor: pointer;
    transition: transform .2s;
    background: -webkit-linear-gradient(rgb(28, 141, 113), rgb(0, 224, 213));
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: table-cell;
    line-height: 63px;
}

.button101 {
    text-decoration: none;
    width: 50%;
    height: auto;
    cursor: pointer;
    transition: transform .2s;
    background: -webkit-linear-gradient(rgb(28, 141, 113), rgb(0, 224, 213));
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: table-cell;
    line-height: 63px;
}

.button100:hover {
    transform: scale(1.03);
}

.button101:hover {
    transform: scale(1.03);
}





label .menu {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1001;
    width: 100px;
    height: 100px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  label .hamburger {
    position: absolute; 
    top: 50px;
    left:35px;
    width: 30px;
    height: 2px;
    background: #69D2e7;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  
  label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #69d2e7;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; }
  
  label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
    
  }
  
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }
  
  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    
  }
  
  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }
  
  label input:checked + .menu + ul { opacity: 1; }
  
  label ul {
    z-index: 1005;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    color: rgba(22,170,126,1);
    position: sticky;
    position: -webkit-sticky;
    z-index: 1005;
    text-decoration: none;
  }

  .label1 {
    
  }
  
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
  }

@media (max-width: 1000px) {
    .name {
        background: -webkit-linear-gradient(rgb(28, 141, 113), rgb(0, 224, 213));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4vw;
        vertical-align: middle;
        line-height:60px;
    }

    .mainbox {
      display: flex;
      flex-direction: column;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      margin: 30px;
      margin-top: 130px;
      border-radius: 20px;
      width: auto;
      height: auto;
      background-color: white;
      margin-bottom: 130px;
    }

    .newbox {
      display: flex;
      flex-direction: column;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      margin: 30px;
      margin-top: 0px;
      border-radius: 20px;
      width: auto;
      height: auto;
      background-color: white;
    }

    .imglol {
      border-radius: 20px;
    }

    .textclass {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 6vw;
      margin-top: 10px;
      background: -webkit-linear-gradient(rgb(11, 63, 50), rgb(0, 224, 213));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .textclass1 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 4vw;
    }

    .projectslol {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px;
        margin-top: 110px;
        width: auto;
        height: auto;
        margin-bottom: 110px;
    }
}