* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.menu {
    height: 40px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100vw - 20px);
    position: fixed;
    z-index: 1000;
}

.name {
    background: -webkit-linear-gradient(#ff00b3, aqua);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Righteous', cursive;
    position: fixed;
    top: 5px;
    font-weight: 500;
    font-size: 40px;
    text-decoration: none;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.name:hover {
    transform: scale(1.01);
}

.name:hover .menub5line {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
}

.menu label {
    display: none;
}

.menubuttons {
    position: fixed;
    right: 0px;
    width: auto;
    height: 60px;
    top: 0px;
    overflow-y: hidden;
}

.menubutton2 {
    background: -webkit-linear-gradient(#4b00c4, #ff00b3);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Righteous', cursive;
    top: 5px;
    font-weight: 500;
    margin-right: 10px;
    font-size: 40px;
    text-decoration: none;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.menubutton2:hover {
    transform:scale(1.03);
}

.menubutton2:hover .menub2line {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
}

.menubutton3 {
    background: -webkit-linear-gradient(#4b00c4, #ff00b3);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Righteous', cursive;
    top: 5px;
    font-weight: 500;
    margin-right: 10px;
    font-size: 40px;
    text-decoration: none;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.menubutton3:hover {
    transform:scale(1.03);
}

.menubutton3:hover .menub3line {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
}

.menubutton4 {
    background: -webkit-linear-gradient(#4b00c4, #ff00b3);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Righteous', cursive;
    top: 5px;
    font-weight: 500;
    margin-right: 10px;
    font-size: 40px;
    text-decoration: none;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.menubutton4:hover {
    transform:scale(1.03);
}

.menubutton4:hover .menub4line {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
}

.menubutton1 {
    background: -webkit-linear-gradient(#00755c, #00fff2);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Righteous', cursive;
    margin-top: 5px;
    font-weight: 500;
    margin-right: 10px;
    font-size: 40px;
    text-decoration: none;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.menubutton1:hover {
    transform: scale(1.03);
}

.menub1line {
    width: 115px;
    height: 5px;
    background: -webkit-linear-gradient(#00755c, #00fff2);
    border-radius: 5px;
}

.menub2line {
    width: 195px;
    height: 5px;
    background: -webkit-linear-gradient(#4b00c4, #ff00b3);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.menub3line {
    width: 105px;
    height: 5px;
    background: -webkit-linear-gradient(#4b00c4, #ff00b3);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.menub4line {
    width: 183px;
    height: 5px;
    background: -webkit-linear-gradient(#4b00c4, #ff00b3);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.menub5line {
    width: 281px;
    height: 5px;
    border-radius: 5px;
    background: -webkit-linear-gradient(#c90a8f, rgb(8, 201, 201));
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.menu label ul {
    display: none;
}

label .menu {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 101;
    width: 50px;
    height: 35px;
    background:rgba(0, 0, 0, 0);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  label .hamburger {
    z-index: 1000;
    position: absolute; 
    top: 23px;
    left:10px;
    width: 30px;
    height: 4px;
    z-index: 1000;
    border-radius: 5px;
    background: #00fff2;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    transition: transform .2s;
  }
  
  label .hamburger:hover {
    transform: scale(1.1);
  }

  label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    z-index: 1000;
    display: block;
    width: 100%;
    height: 100%;
    background: #00fff2; 
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input {
    display: none;
  }
  
  label input:checked + .menu{
    box-shadow: 0 0 0 0vw rgba(0, 0, 0, 0.8), 0 0 0 1000vh rgba(0, 0, 0, 0.8);
    border-radius: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1000;
  }
  
  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    z-index: 1000;
  }
  
  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }

  label input:checked + .menu + ul {
    animation: fadeIn 0.5s;
    opacity: 1;
    display: block;
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  label ul {
    z-index: 200;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  .menu label ul {
    animation: fadeOut 0.5s;
    opacity: 0;
  }
  
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }

  label a {
    margin-bottom: 1em;
    font-family: 'Righteous', cursive;
    border: 1px solid #ff00b3;
    border-radius: 5px;
    padding: 10px;
    display: block;
    color: #ff00b3; 
    position: sticky;
    position: -webkit-sticky;
    text-decoration: none;
    text-align: center;
  }

  .label1 {
    color: #00fff2;
    border: 1px solid #00fff2;;
  }

.section1 {
    width: 100vw;
    height: auto;
    background-image: url("resources/images/backgroundimage.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.introductionbox {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.picture {
    position: relative;
    margin-top: 110px;
    margin-left: 50px;
    width: 40vw;
    height: 40vw;
    transform: rotate(3deg);
    outline: 10px solid aqua;
    outline-offset: 10px;
    box-shadow: #ff00b3 0px 30px 150px 0px;
}

.emailbox {
    display: none;
}

.textbox {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 120px;
    outline-offset: 10px;
    margin-left: 70px;
    border-radius: 20px;
    height: min-content;
    width: 100%;
    margin-right: 30px;
    padding: 20px;
    color: aqua;
    font-size: 1.5vw;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.headertextbox {
    font-size: 3vw;
    background: -webkit-linear-gradient(#ff00b3, aqua);
    text-align: center;
    width: auto;
    padding: 10px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 20px;
    margin-bottom: 15px;    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.headertextbox4 {
    font-size: 3vw;
    background: -webkit-linear-gradient(#ff00b3, aqua);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skillsbox {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;
}

.scrollbutton1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    top: calc(100% - 100px);
    margin-bottom: 50px;
    background-color: aqua;
    box-shadow: #ff00b3 0px 5px 40px 10px;
    outline-offset: 10px;
    outline: 10px solid aqua;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: #ff00b3;
    text-align: center;
    font-size: 40px;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.scrollbutton1:hover {
    transform: translate(-50%,-20%);
}

.textbox1 {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 95px;
    outline-offset: 10px;
    margin-left: 40px;
    height: min-content;
    width: auto;
    margin-right: 40px;
    color: aqua;
    font-size: 1.5vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.images1 {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 20px;
    height: auto;
    width: auto;
    margin-right: 20px;
    color: aqua;
    font-size: 1.5vw;
    text-align: center;
    flex-wrap: wrap;
}
  
.image1 {
    width: 180px;
    height: 250px;
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.image2 {
    width: 100px;
    height: 100px;
}

.image3 {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.socialbuttons a {
    width: 60px;
    height: 60px;
    color: rgba(0, 0, 0, 0);
}

.image3:hover {
    transform: scale(1.05);
}


.experiencename {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-bottom: 3px;
}

@media(max-width:1000px) {
    label a {
        display: block;
    }
    .name {
        font-size: 30px;
    }
    .menubutton1 {
        display: none;
    }
    .menub1line {
        display: none;
    }
    .menub2line {
        display: none;
    }
    .menub3line {
        display: none;
    }
    .menub4line {
        display: none;
    }
    .menub5line {
        display: none;
    }
    .menubutton2 {
        display: none;
    }
    .menubutton3 {
        display: none;
    }
    .menubutton4 {
        display: none;
    }
    .menu label {
        display: flex;
    }
    label .menu {
        right: -21px;
        top: -1px;
        display: block;
    }
    .menu {
        height: 27px;
        display: block;
    }
    label a {
        transition: .1s ease-in;
        display: block;
    }

    label a:hover {
        transform: scale(1.1);
    }
    .introductionbox {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .image3 {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        -moz-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;
        -webkit-transition: all .1s ease-in;
        transition: all .1s ease-in;
        cursor: pointer;
    }

    .picture {
        position: relative;
        margin-top:87px;
        margin-left: 40px;
        width: 60vw;
        margin-right: 40px;
        height: auto;
        border-radius: 0px;
        transform: rotate(2deg);
        outline: 5px solid aqua;
        outline-offset: 5px;
        box-shadow: #ff00b3 0px 30px 150px 0px;
        max-width: 460px;
    }
    
    .textbox {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-top: 30px;
        outline-offset: 5px;
        border-radius: 0px;
        transform: rotate(0deg);
        margin-left: 40px;
        margin-bottom: 40px;
        margin-right: 40px;
        height: 100%;
        border-radius: 20px;
        width:70vw;
        color: aqua;
        font-size: 2vh;
        padding-bottom: 30px;
    }

    .textbox1 {
        margin-top: 40px;
        margin-bottom: -10px;
        width: 70vw;
    }
    
    .headertextbox {
        font-size: 4vh;
        margin-bottom: 10px;
        background: -webkit-linear-gradient(#ff00b3, aqua);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .skillsbox {
        width: 100vw;
        height: auto;
        min-height: 100vh;
        padding-bottom: 50px;
        display: flex;
        background-color: rgba(0, 0, 0, 0.2);
        align-items: center;
    }
    
    .scrollbutton1 {
       display: none;
    }
    
    .scrollbutton1:hover {
        transform: translate(-50%,-20%);
    }
    .images1 {
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: row;
        margin-top: 40px;
        margin-left: 20px;
        height: auto;
        width: auto;
        margin-right: 20px;
        color: aqua;
        font-size: 1.5vw;
        text-align: center;
        flex-wrap: wrap;
    }
      
    .image1 {
        width: 200px;
        height: 200px;
        padding: 30px;
        margin: 20px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 20px;
    }

    .hamburger {
        display: block;
    }

    .headertextbox4 {
        font-size: 5vw;
    }
}

@media(max-height: 580px) and (orientation: landscape) {
    .picture {
        margin-top: 20px;
        width: 60vh;
        height: 60vh;
    }

    .introductionbox {
        flex-direction: row;
    }

    .textbox {
        margin-top: 70px;
        max-height: 60vh;
        font-size: 2vw;
    }
}
